# Loops in python

In general, statements are executed sequentially: The first statement in a function is executed first, followed by the second, and so on. There may be a situation when you need to execute a block of code several number of times.

Programming languages provide various control structures that allow for more complicated execution paths.

A loop statement allows us to execute a statement or group of statements multiple times.

In [2]:
student_name = str(input())

marks = {'Aarti' : 730, 'Pranoti' : 722, 'chandan' : 345}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

Aarti
730

# while loop

In [3]:
n = int(input('Enter n: '))
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i+1
    
print('The sum is',sum)

Enter n: 8
The sum is 36

In [5]:
student=['aarti','pranoti','abhi','pooja','om']
jobs = ['data scientist','data analyst','ml engineer','dl researcher','di analyst']
for x in student:
    for y in jobs:
        print(x,y)

aarti data scientist
aarti data analyst
aarti ml engineer
aarti dl researcher
aarti di analyst
pranoti data scientist
pranoti data analyst
pranoti ml engineer
pranoti dl researcher
pranoti di analyst
abhi data scientist
abhi data analyst
abhi ml engineer
abhi dl researcher
abhi di analyst
pooja data scientist
pooja data analyst
pooja ml engineer
pooja dl researcher
pooja di analyst
om data scientist
om data analyst
om ml engineer
om dl researcher
om di analyst