# Set

A set is an unordered collection of items. Every set element is unique(no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

In [5]:
my_set = {1,2,3}
print(my_set)

my_set = {1.0,'hello',(1,2,3)}
print(my_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'hello'}

In [6]:
my_set = {1,2,3,2,3,5,4}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [7]:
my_set = set([1,2,3,4])
print(my_set)

{1, 2, 3, 4}

In [8]:
my_set = {1,2,[4,7]}
print(my_set)

TypeError: unhashable type: 'list'

In [9]:
#empty set
a = set()
print(type(a))

<class 'set'>

# Modifying a set in python

In [10]:
my_set.add(45)
print(my_set)

{1, 2, 3, 4, 45}

In [11]:
my_set.update([21,22,23])
print(my_set)

{1, 2, 3, 4, 45, 21, 22, 23}

In [16]:
my_set.update([8,9],{0,8,7,6})
print(my_set)

{0, 6, 7, 8, 9}

In [13]:
a=set(input('enter values:'))
print(a)

enter values:2,5,6,7,9,3,1
{'9', '5', '7', '3', '6', '2', ',', '1'}

In [17]:
#discard an element
my_set.discard(6)
print(my_set)

{0, 7, 8, 9}

In [18]:
#remove an element
my_set.clear()
print(my_set)

set()

In [19]:
#set union method
A = {1,2,3,4,5,6}
B = {4,5,6,7,8}
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

# Set Intersection

Intersection of A and B is a set of element that are common in both sets.
Intersection is performed using and operator. Same can be accomplished using the intersection.

In [24]:
#intersection of sets
A = {1,2,3,4,5,6}
B = {4,5,6,7,8}
print(A & B)

{4, 5, 6}

In [25]:
A.intersection(B)

{4, 5, 6}

In [26]:
B.intersection(A)

{4, 5, 6}

In [27]:
#difference of sets
A = {1,2,3,4,5,6}
B = {4,5,6,7,8}
print(A - B)

{1, 2, 3}

In [28]:
A.difference(B)

{1, 2, 3}

In [29]:
#symmetric difference of sets
A = {1,2,3,4,5,6}
B = {4,5,6,7,8}
print(A ^ B)

{1, 2, 3, 7, 8}